<!DOCTYPE html>
<html>
    <head>
        <title>main page</title>
    </head>
    <body>
        <h1>main page</h1>
        <h3>welcome <%= email %></h3>
        <div><a href="/logout">logout</a></div>
    </body>
</html>
